.container {
    display: flex;
  }
  
  .sidebar {
    background-color: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    }
 
  
  .main-section {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  @media (max-width: 640px) {
    .container {
      flex-direction: column-reverse;
    }
    div .sidebar {
      padding-top: 20px;
      flex-direction: row;
      justify-content: space-evenly;
    }

  }